<h1>Places I've Been</h1>


<ul>
    <li>Mexico City</li>
    <li>Charleston</li>
    <li>Beijing</li>
    <li>Amsterdam</li>
</ul>

<form action="/places" method="GET">
<label for="place">New Place:</label>
<input place="place" type="text" id="place">
<button>Submit</button>
</form>
